@model MadeByMe.src.Models.Post

@{
    ViewData["Title"] = "Деталі товару";
}

<h1>@Model.Title</h1>

<div>
    <img src="@Model.PhotoLink" alt="@Model.Title" style="width:200px;" />
    <p>@Model.Description</p>
    <p><strong>Ціна:</strong> @Model.Price</p>
</div>

<a asp-action="Index" class="btn btn-primary">Назад до списку</a>