@model IEnumerable<MadeByMe.src.DTOs.PostResponseDto>

@{
    ViewData["Title"] = "Головна";
}

<h1>Останні пости</h1>

@if (!Model.Any())
{
    <p>Поки що немає постів.</p>
}
else
{
   @*  @if (User.Identity.IsAuthenticated)
    {
        <p><a asp-controller="Account" asp-action="Profile">Профіль</a></p>
        <form asp-action="BecomeSeller" asp-controller="Account" method="post">
            <button type="submit" class="btn btn-warning">Стати продавцем</button>
        </form>
        <form asp-action="Logout" asp-controller="Account" method="post">
            <button type="submit" class="btn btn-danger">Вийти</button>
        </form>
    }
    else
    {
        <p><a asp-controller="Account" asp-action="Login">Увійти</a></p>
        <p><a asp-controller="Account" asp-action="Register">Зареєструватися</a></p>
    } *@
    
    <div class="post-list">
        @foreach (var post in Model)
        {
            <div class="post-item">
                <h3>@post.Title</h3>
                <p>@post.Description</p>
                <p><strong>Автор:</strong> @post.SellerName</p>
                <p><strong>Дата:</strong> @post.CreatedAt.ToShortDateString()</p>
                <a href="@Url.Action("Details", "Post", new { id = post.Id })">Детальніше</a>
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="PostId" value="@post.Id" />
                    <input type="hidden" name="Quantity" value="1" />
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-cart-plus"></i> Додати до кошика
                    </button>
                </form>
            </div>
        }
    </div>
   

    
}
