@model IEnumerable<MadeByMe.src.DTOs.PostResponseDto>

@{
    ViewData["Title"] = "Головна";
}

<h1>Останні пости</h1>

@if (!Model.Any())
{
    <p>Поки що немає постів.</p>
}
else
{
    <div class="post-list">
        @foreach (var post in Model)
        {
            <div class="post-item">
                <h3>@post.Title</h3>
                <p>@post.Description</p>
                <p><strong>Автор:</strong> @post.SellerName</p>
                <p><strong>Дата:</strong> @post.CreatedAt.ToShortDateString()</p>
                <a href="@Url.Action("Details", "Post", new { id = post.Id })">Детальніше</a>
            </div>
        }
    </div>
   

    
}
